<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveMultimediaService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.live-mm.com/LiveMultimediaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveMultimediaService" contract="LiveMultimediaService.ILiveMultimediaService" name="BasicHttpBinding_ILiveMultimediaService"/>
        </client>
    </system.serviceModel>

  <system.net>
    <connectionManagement>
      <clear/>
      <add address="http://service.live-mm.com" maxconnection="10000"/>
      <add address="http://127.0.0.1:8080/LiveMultimediaService.svc" maxconnection="10000"/>
      <add address="*" maxconnection="1"/>
    </connectionManagement>
  </system.net>
  
</configuration>
