<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveMultimediaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.live-mm.com/LiveMultimediaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveMultimediaService"
                contract="LiveMultimediaService.ILiveMultimediaService" name="BasicHttpBinding_ILiveMultimediaService" />
        </client>
    </system.serviceModel>
</configuration>