<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WCFhttp" />
                <binding name="WCFhttps1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="WCFhttps" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://service.live-mm.com/LiveMultimediaService.svc" binding="basicHttpsBinding" bindingConfiguration="WCFhttps" contract="LiveMultimediaService.ILiveMultimediaService" name="WCFhttps" />
            <endpoint address="http://service.live-mm.com/LiveMultimediaService.svc" binding="basicHttpBinding" bindingConfiguration="WCFhttp" contract="LiveMultimediaService.ILiveMultimediaService" name="WCFhttp" />
            <endpoint address="https://service.live-mm.com/LiveMultimediaService.svc" binding="basicHttpBinding" bindingConfiguration="WCFhttps1" contract="LiveMultimediaService.ILiveMultimediaService" name="WCFhttps1" />
        </client>
    </system.serviceModel>
    
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
</startup>
  
  <!-- Alex Ekimov Start -->
   
  <system.net>
    <connectionManagement>
      <clear />
        <add address="http://service.live-mm.com" maxconnection="1000000" />
        <add address="http://service.live-mm.com:8080" maxconnection="1000000" />
        <add address="*" maxconnection="100000" />
    </connectionManagement>
  </system.net>
  
  <!-- Alex Ekimov Stop -->
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
