<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveMultimediaService" />
                <binding name="BasicHttpBinding_ILiveMultimediaService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/LiveMultimediaService/LiveMultimediaSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveMultimediaService"
                contract="LiveMultimediaServiceReferenceIIS.ILiveMultimediaService"
                name="BasicHttpBinding_ILiveMultimediaService" />
            <endpoint address="http://live-mm.com/LiveMultimediaService/LiveMultimediaSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveMultimediaService1"
                contract="LiveMultimediaServiceReferenceWeb.ILiveMultimediaService"
                name="BasicHttpBinding_ILiveMultimediaService1" />
        </client>
    </system.serviceModel>
</configuration>