<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Aleksei Ekimov Start -->
  <!-- Set MaxConnection to Windows Azure -->
  <system.net>
    <connectionManagement>
      <clear />
      <add address="http://service.storageint.com" maxconnection="1000000" />
      <add address="http://api.microsofttranslator.com" maxconnection="1000000" />
      <add address="https://livemultimediamarket.blob.core.windows.net" maxconnection="1000000" />
      <add address="***.database.windows.net" maxconnection="1000000" />
      <!--<add address="*" maxconnection="1"/>-->
      <add address="*" maxconnection="1000000" />
    </connectionManagement>
  </system.net>
  <!-- Aleksei Ekimov Stop -->
  <!--  Для сбора трассировок диагностики раскомментируйте расположенный ниже раздел или объедините с существующим разделом system.diagnostics.
        Чтобы сохранить трассировки в хранилище, обновите параметр DiagnosLiveMultimediaTestService.AzureticsConnectionString, используя свои учетные данные хранилища.
        Во избежание снижения производительности не забудьте отключить трассировку в производственных развертываниях.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="LiveMultimediaService.AzureLocalStorageTraceListener, LiveMultimediaService"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6" />
    <customErrors defaultRedirect="" mode="RemoteOnly" />
  </system.web>
  <system.serviceModel>
    <!-- Alex Ekimov Start -->
    <client>
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
      <endpoint address="http://service.storageint.com/StorageInterfaces.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorageInterfaces" contract="StorageInterfacesService.IStorageInterfaces" name="BasicHttpBinding_IStorageInterfaces" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxArrayLength="4194304" maxBytesPerRead="8192" />
          <security>
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_LanguageService" />
        <binding name="BasicHttpBinding_IStorageInterfaces" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="basicHttpsBindingConfig" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" maxBytesPerRead="8192" />
        </binding>
      </basicHttpsBinding>
      <webHttpBinding>
        <binding name="RestServiceBindingConfig" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="01:01:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" maxBytesPerRead="8192" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Throttled" name="JetSAS.LiveMultimediaService">
        <endpoint address="/api/v1" behaviorConfiguration="webAPIBehavior" binding="webHttpBinding" bindingConfiguration="RestServiceBindingConfig" name="webAPI" contract="JetSAS.ILiveMultimediaService" />
        <endpoint behaviorConfiguration="WCFBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" name="WCFhttp" contract="JetSAS.ILiveMultimediaService" />
        <endpoint behaviorConfiguration="WCFBehavior" binding="basicHttpsBinding" bindingConfiguration="basicHttpsBindingConfig" name="WCFhttps" contract="JetSAS.ILiveMultimediaService" />
        <host>
          <timeouts closeTimeout="01:00:10" openTimeout="01:01:00" />
        </host>
      </service>
    </services>
    <!-- Alex Ekimov Stop -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="webAPIBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
        </behavior>
        <behavior name="WCFBehaviorWebScript">
          <enableWebScript />
        </behavior>
        <behavior name="WCFBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Throttled">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpsGetBinding="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения при отладке задайте ниже значение true.
        Перед развертыванием задайте значение false во избежание раскрытия сведений о папке веб-приложения.
    -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.2.1.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>